@use "../utilities" as *;
@use "sass:map";

.categories {
  &__list {
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding-inline-start: 0;
  }

  &__item {
    background-color: #f9f9f9;
    padding: 15px 30px;
    border-radius: 30px;

    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: darken(#f9f9f9, 2%);
    }

    &:active {
      background-color: darken(#f9f9f9, 5%);
    }

    &.active {
      background-color: #282828;
      color: $white-color;
    }
  }
}
