// Text color
$text-color: rgba(24, 24, 24, 1) !default;

// Background color
$background-color: #ffdf8c !default;

// Brand color
$brand-color: #ff6400 !default;

// Orange color
$orange-color: #ffbb02 !default;

// White color
$white-color: #fff !default;

// Gray color
$gray-color: #5c6370 !default;
